.user-menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-user-menu {
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;   
    z-index: 49; /* Adjust the z-index value */
  }
  
  .hide-user-menu {
    display: none;
  }
  
  .user-menu-avatar {
    margin-right: 10px;
    width: 70px;
    height: 70px; 
    cursor: pointer;    
    z-index: 50;  
    filter: drop-shadow(1px 1px 4px #2222227e);
    transition: transform .3s;
}

.user-menu-avatar:hover {
   transform: scale(1.05);
}
