.user-menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu {
  position: absolute;
  top: 94px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 300px;
  z-index: 49;
  background-color: var(--white-color);
  list-style: none;
  padding: 0;
  transition: top 0.3s ease;
}

.user-menu.closed {
  top: -370px;
  /* Menu jest początkowo schowane za ekranem */
}

.panel-item {
  text-align: center;
  height: 100%;
  margin: 15px 0;
  font-weight: bold;
}

.user-menu-avatar { 
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 50;
  filter: drop-shadow(1px 1px 4px #2222227e);
  transition: transform 0.3s;
}

.user-menu-avatar:hover {
  transform: scale(1.05);
}

.panel-logout-btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #2c2d5b;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.4rem;
  }

  .user-menu-name {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-menu {
    display: none;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.6rem;
  }



}@media (min-width: 768px) and (max-width: 991.98px) {



}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
 
}