.user-menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu {
  display: flex;
  position: absolute;
  top: 76px;
  right: 10px;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 402px;
  background-color: var(--white-color);
  list-style: none; 
  z-index: 49;
  transition: top 0.3s ease;
}

.user-menu.closed {
  top: -472px;
}

.panel-item {
  text-align: center;
  height: 100%;
  margin: 15px 0;
  font-weight: bold;
}

.panel-item  a{
  transition: color .3s;
}

.panel-item a:hover {
 color: var(--brand-color);
}

.user-menu-avatar { 
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 50;
  filter: drop-shadow(1px 1px 4px #2222227e);
  transition: transform 0.3s;
}

.user-menu-avatar:hover {
  transform: scale(1.05);
}

.panel-logout-btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #2c2d5b;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

.typing-raccoon-bot{
  display: none;
}

/* MEssage system */
.message-none{
  display: none;
  width: 40px;
  height: 40px;
  color: rgb(167, 165, 165);
}

.message-true {
  position: relative; 
  width: 30px;
  height: 30px;
  color: rgb(0, 214, 11);
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.3s;

}
.message-true:hover {
  transform: scale(1.05);
}

.message-true::before {
  content: "5!";
  color: var(--brand-color);
  font-weight: bold;
  width: 20px; 
  height: 20px; 
  position: absolute;
  top: -14px;
  left: 10px;
  z-index: 5;
}

@media (max-width: 575.98px) {
  .typing-raccoon-top{
    display: none;
  }
  .typing-raccoon-bot{
    display: block;
  }
  .pred-info-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.4rem;
  }

  .user-menu-name {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .typing-raccoon-top{
    display: none;
  }
  .typing-raccoon-bot{
    display: block;
  }
  .pred-info-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-menu {
    display: none;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.6rem;
  }



}@media (min-width: 768px) and (max-width: 991.98px) {



}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
 
}