
.panel-leader-table{
border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.473);
    margin-bottom: 10px;
    margin-top: 20px;
    overflow-x: auto;
    text-align: center;
    width: 100%;
}

.panel-leader-table th,
.panel-leader-table td {
  padding: 8px;
  width: 100px;
  font-weight: bold;
}

.panel-leader-table td {
  margin: 10px 5px;
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 2px;
}

.panel-leader-table th {
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;
}

.panel-leader-table img {
  max-width: 48px;
  max-height: 48px;
}


.leader-name {
  max-width: 280px;
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.panel-leader-table tbody tr:nth-child(-n+3){
  font-weight: bold;
  background-color: #2c2d5b13;
}

.panel-leader-table tbody tr:nth-child(1) {
  font-size: 1.2rem;
}

.panel-leader-table tbody tr:nth-child(2) {
  font-size: 1.15rem;
}


.panel-leader-table tbody tr:nth-child(3) {
  font-size: 1.1rem;
}



.panel-leader-table tbody tr:nth-child(-n+3) img {
  border: 2px solid rgba(205, 127, 50, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(205, 127, 50, 0.8);
}


@media (max-width: 420px) {
  .th-place {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .leader-name {
    max-width: 100px;
  }

  .th-hide {
    display: none;
  }
} 