.panel-leader-table {
  margin-top: 20px;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .473);
  text-align: center;
  overflow-x: auto;
  min-width: 100%;
}

.leader-raccoon {
  display: none;
}

.panel-leader-mobile {
  display: none;
}

.panel-leader-table th,
.panel-leader-table td {
  padding: 8px;
  width: 100px;
}

.panel-leader-table td {
  margin: 10px 5px;
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 2px;
}

.panel-leader-table th {
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;
}

.panel-leader-table img {
  max-width: 48px;
  max-height: 48px;
}


.leader-name {
  max-width: 280px;
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.top-players {
  font-weight: bold;
  background-color: #2c2d5b13;
  font-size: 1.1rem;
}

.top-avatar {
  border: 2px solid rgba(205, 127, 50, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(205, 127, 50, 0.8);
}




@media (max-width: 767.98px) {

  .leader-raccoon {
    display: block;
    margin: 0 auto;
  }

  .panel-leader-mobile {
    display: block;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* Dostosuj wartość według swoich preferencji */


  }

  .panel-leader-table {
    display: none;
  }

  .panel-leader-mobile td {
    width: 5%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.205);
  }

  .top-players {
    font-weight: 600;
    background-color: transparent;
    font-size: 1rem;
  }

  .top-leader-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .leader-stats p {
    margin: 5px 0;
  }



  .top-panel-player {
    text-align: center;
  }


  .leader-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .leader-stats-box {
    background-color: rgba(221, 220, 218, 0.062);

  }




  .leader-place {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(204, 204, 204, 0.219);
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.226);
  }














}