.nav-front {
    display: flex;
    list-style: none;   
}

.nav-menu-item {  
    padding: 15px 30px;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 18px;
    color: black;
}

.nav-front li a:hover {
    color: var(--brand-color);
}

.nav-front-login-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;    
    color: var(--black-color);
    border: 1px solid var(--brand-alt-color);
    transition: color 0.3s;
}

.nav-front-signup-btn {
    margin-left: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: var(--white-color);
    border-radius: 12px;
    border: 1px solid var(--brand-alt-color);
    background: var(--brand-alt-color);
    transition: color 0.3s;
}



.lang-btn{
    position: absolute;
    top: 80px;

   
 
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 4px;
    cursor: pointer;
}



/* //HAMBURGER MENU  */

.hamburger-btn{
    display: none;
}

@keyframes expandNav {
    from {
      height: 0; 
    }
    to {
      height: 500px; 
    }
  }



@media (max-width: 575.98px) {

     /* //HAMBURGER MENU */   

    .hamburger-btn{
        z-index: 99;
        display: block;    
    }

    .nav-front{    
        position: absolute;
        padding: 0;
        left: 0;
        right: 0;
        top: 55px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
        background-color: var(--white-color);
        animation: expandNav 0.3s ease forwards; 
        height: 90vh !important; 
    }

   

    .hamburger-display-flex{
        display: flex;
        align-items: center;
    }
    
    .hamburger-display-none{
        display: none;
    } 

    /* // NAV MOBILE */

    .front-brand-logo{          
        z-index: 99;        
        font-size: 20px;
    }

    .nav-menu-item {     
        margin: 10px;
        font-weight: bold;
        font-size: 24px;
        transition: color 0.3s;
    }       
    
    .nav-front-signup-btn {
        margin-left: 0px; 
    }   

}

@media (min-width: 576px) and (max-width: 767.98px) {
    
     /* //HAMBURGER MENU */   

     .hamburger-btn{
        z-index: 99;
        display: block;    
    }

    .nav-front {
        position: absolute;
        padding: 0;
        left: 0;
        right: 0;
        top: 55px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--white-color);
        animation: expandNav 0.3s ease forwards;
     
    }   

    .hamburger-display-flex{
        display: flex;
        align-items: center;
    }
    
    .hamburger-display-none{
        display: none;
    } 

    /* // NAV MOBILE */

    .front-brand-logo{          
        z-index: 99;        
        font-size: 22px;
    }

    .nav-menu-item {     
        margin: 10px;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 24px;
    }      
    
    .nav-front-signup-btn {
        margin-left: 0px;    
    }   
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .hamburger-btn{
        z-index: 99;
        display: none;    
    }  

    /* // NAV MOBILE */

    .front-brand-logo{          
        z-index: 99;        
        font-size: 22px;
    }

   

    .nav-menu-item {     
        /* margin: 0 10px; */
        font-weight: bold;
        transition: color 0.3s;
        font-size: 0.85rem;  
        padding: 0 8px;
    }    

   

    .nav-front-login-btn {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 12px;    
        color: var(--black-color);
        border: 1px solid var(--brand-alt-color);
        transition: color 0.3s;
    }
  
    
    .nav-front-signup-btn {
        font-size: 16px;
        margin-left: 10px; 
    }   
}

@media (min-width: 992px) and (max-width: 1199.98px) {     

    /* // NAV MOBILE */

    .hamburger-btn{
        z-index: 99;
        display: none;    
    }  

    /* // NAV MOBILE */

    .front-brand-logo{          
        z-index: 99;        
        font-size: 22px;
    }
    .nav-menu-item {     
        /* margin: 0 10px; */
        font-weight: bold;
        transition: color 0.3s;     
       font-size: 0.85rem;
    }    
    .nav-front-signup-btn {    
        margin-left: 20px;         
    }   

    .nav-front-login-btn {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 12px;    
        color: var(--black-color);
        border: 1px solid var(--brand-alt-color);
        transition: color 0.3s;
    }
}