.raccon-signup-img {
    margin: 0 auto;
}

.signup {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
}

.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    max-width: 310px; 
    margin: 0 auto; 
}

.signup--server-error-msg {  
    font-weight: bold;
    font-size: 1rem;
    color:var(--validation-error-color);
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;       
}

.signup-error-msg {  
    font-weight: bold;
    font-size: 1rem;
    color:var(--validation-error-color);
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
}

.signup-success-msg {
    font-weight: bold;
    font-size: 1rem;
    color: var(--backend-success-color); 
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
  }

.form-signup label {
    padding: 5px 0;
   
    text-align-last: left;
}

.form-signup input {
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.signup-submit-button {
    align-self: center;
    margin: 12px;
    padding: 10px 30px;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    color: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--brand-alt-color);
    background: var(--brand-alt-color);
    transition: color 0.3s;
    cursor: pointer;
}

.signup-submit-button:disabled {
    color: rgb(128, 127, 127);
    border: rgb(0, 0, 0);
    background: silver;
    transition: color 0.3s;
    cursor: auto;
}

.form-signup input:hover {
    border-color: var(--brand-alt-color);
}

.form-signup input:focus {
    outline: none;
    border-color: var(--brand-alt-color);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.6);
}


.form-signup input.signup-input-error {
    border-color: var(--signup-error);
}

.form-to-login{
    font-weight: bold;
    padding: 30px 0;
}




.signup-login:hover{  
    color: var(--brand-alt-color);
} 