:root {
  --brand-color: #F67366;
  --brand-font: 24px;
}

* {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
}

.content-wrapper {
  flex: 1;
}

hr {
  max-width: 1000px;
  height: 7px;
  border: none;
  border-radius: 20%;
  background: rgba(229, 229, 229, 0.40);
}

.span-brand{
  color: var(--brand-color)
}

.section-title{
text-align: center;
}

h1{
  /* 48px */
  font-size: 3rem;
}
h2{
  /* 40px */
  font-size: 2.5rem;
}
/* TYTUŁY w HiW zrób globalnie pod h3 */
h3{
  font-size: 2rem;
}

footer {
  margin-top: auto;
}