:root {
  --brand-color: #f75a4c;
  /* --brand-color: rgb(241, 57, 40); */
  --brand-font: 24px;
  --brand-alt-color: #2C2D5B;   
  --white-color: #ffffff;
  --black-color: #000000;
}

body { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

a {
  text-decoration: none; 
}

h1{
  /* 48px */
  font-size: 3rem; 
}
h2{
  /* 40px */
  font-size: 2.5rem;
}
/* TYTUŁY w HiW zrób globalnie pod h3 */
h3{
  font-size: 2.5rem;
}

hr {
  max-width: 1000px;
  height: 5px;
  border: none;
  border-radius: 20%;
  background: rgba(229, 229, 229, 0.40);
}

.wrapper { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.app-wrap{
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;  
  margin: 0 auto;  
}

.span-brand{
  color: var(--brand-color)
}

.brand{
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.section-title{
text-align: center;
}

/* GLOBAL RESPONSIVE STYLES  */

@media (max-width: 575.98px) {
  /* .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden;
  } */
  h1{
    font-size: 2.375rem; 
  }
  h2{
    font-size: 2rem; 
  }
  h3{
    font-size: 1.9rem; 
  }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1{   
    font-size: 2.625rem; 
  }
  h2{
    font-size: 2.125rem; 
  }
  h3{
    font-size: 2.025rem; 
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1{  
    font-size: 2.75rem; 
  } 
  h2{
    font-size: 2.25rem;
  }
  h2{
    font-size: 2.15rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h1{  
    font-size: 2.875rem; 
  }  
  h2{
    font-size: 2.375rem; 
  }
  h2{
    font-size: 2.275rem; 
  }
}



