.user-menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu {
  display: flex;
  position: absolute;
  top: 76px;
  right: 10px;
  padding: 0;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: var(--white-color);
  list-style: none; 
  z-index: 49;
  transition: top 0.3s ease;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.chat-item{
  display: none;
}

.user-menu.closed {
  top: -200%;
}

.panel-item {
  height: 50%;
  text-align: center; 
  margin: 15px 0;
  font-weight: bold;
}

.panel-item  a{
  transition: color .3s;
}

.panel-item a:hover {
 color: var(--brand-color);
}

.user-menu-avatar { 
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 50;
  filter: drop-shadow(1px 1px 4px #2222227e);
  transition: transform 0.3s;
}

.user-menu-avatar:hover {
  transform: scale(1.05);
}

.panel-logout-btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #2c2d5b;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}


.darkmode-input{
  cursor: pointer;
}


.typing-raccoon-bot{
  display: none;
}


.message-none{
  position: relative; 
  border: transparent;
  background-color: transparent;
  width: 35px;
  height: 35px;
  color: rgb(99, 100, 99);
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  color: rgb(167, 165, 165);
}

.message-true {
  position: relative; 
  border: transparent;
  background-color: transparent;
  width: 35px;
  height: 35px;
  color: rgb(0, 214, 11);
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s;
}

.message-true:hover {
  transform: scale(1.05);
}

/* // do podmiany */
.span-true{
  color: var(--brand-color);
  font-weight: bold;
  font-size: 1.3rem;
}

/* // DARKMODE NOWY */






.darkmode #toggle {
  display: none;
}

.daylight {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
  border: 2px solid #363636;
  background-color: rgba(53, 0, 0, 0.466);
  border-radius: 15px;
  cursor: pointer;
}

.daylight:after {
  content: url("./images/sunmode.png"); 
  position: absolute;
  display: grid;
  width: 30px;
  height: 30px;
  top: -7px;
  left: -3px;
  border: 2px solid #fff;
  background-color: rgba(56, 56, 56, 0.8549019608);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  place-content: center;
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}

.darkmode #toggle:checked + .daylight:after {
  content: url("./images/darkmode.png"); 
  background-color: #8f8f8f;
  transform: translateX(50px) rotate(1turn);
}




































@media (max-width: 575.98px) {
  .chat-item{
    display: block;
  }
  .typing-raccoon-top{
    display: none;
  }
  .typing-raccoon-bot{
    display: block;
  }
  .pred-info-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.4rem;
    height: 10%;
  }




  
  .user-menu {
    display: flex;
    position: absolute;
    top: 76px;
    right: 0;
    padding: 0;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: var(--white-color);
    list-style: none; 
    z-index: 49;
    transition: top 0.3s ease;
  }



  

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .typing-raccoon-top{
    display: none;
  }
  .typing-raccoon-bot{
    display: block;
  }
  .pred-info-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-menu {
    width: 100%;
    right: 0px;
  }

  .panel-menu {
    display: none;
  }

  .panel-item {
    margin: 10px 0;
    font-size: 1.6rem;
  }



}@media (min-width: 768px) and (max-width: 991.98px) {



}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
 
}