.tab-config{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
     width: 100%;
      gap: 10px;
      height: 500px;
      overflow-y: auto;
}

.config-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.config-form-item{
    padding: 20px 0px ;
    margin: 10px 0; 
    width: 280px;
}

.config-form label {
    font-size: 1.2rem;
    padding: 5px 0;     
}

.config-form input {
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;    
}

.config-btn {
    align-self: center;
    margin: 12px 0;
    padding: 10px 30px;
    font-size: 18px;   
    font-weight: bold;
    color: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--brand-alt-color);
    background: var(--brand-alt-color);
    transition: color 0.3s;
    width: 306px;
    cursor: pointer;   
}

.config-btn:disabled {
    color: rgb(128, 127, 127);
    border: rgb(0, 0, 0);
    background: silver;
    transition: color 0.3s;
    cursor: auto;
}

.avatar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 550px;
   
    max-height: 225px;   
    overflow-y: scroll;
    overflow-x: hidden;
}

.avatar-item{
    cursor: pointer;
}

.config-avatar-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.avatar-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



  @media (max-width: 575.98px) {
    .avatar-list{
        display: flex;
        width: 80%;   
        overflow-x: scroll;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .avatar-list{
        display: flex;
        width: 85%;   
        overflow-x: scroll;
    }
  
  
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  
  
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
  
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
   
  }