.tab-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 567px;
  min-width: 100%;
  font-weight: bold;
}
.stats-item {
  text-align: center;
  border-radius: 12px;
  margin: 25px 20px;
  padding: 10px 20px;
  width: 20%;
  min-width: 200px;
  font-size: 1.2rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}

.tab-stats p {
  line-height: 35px;
}

.stats-item svg{
    margin-bottom: -2px;
}

/* WYKRES ŁĄdowania w Ratingu */

.stats-item {
  position: relative;
  border-radius: 10px; /* Zaokrąglenie rogów */
  background: linear-gradient(to right, #dbdddf var(--percentage), #ffffff var(--percentage));
  overflow: hidden;
}


@media (max-width: 575.98px) {
  .tab-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .stats-item {
    text-align: center;
    margin: 25px 10px;
    padding: 10px 10px;
    width: 10%;
    min-width: 130px;
  }
  .tab-stats p {
    line-height: 35px;
  }
 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .tab-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .stats-item {
    text-align: center;
    /* background-color: rgba(202, 202, 202, 0.445); */

    margin: 25px 20px;
    padding: 10px 15px;
    width: 20%;
    font-size: 1.2rem;
  }
  .tab-stats p {
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .tab-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .stats-item {
    text-align: center;
    /* background-color: rgba(202, 202, 202, 0.445); */

    margin: 25px 20px;
    padding: 10px 20px;
    width: 25%;
    font-size: 1.2rem;
  }
  .tab-stats p {
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .tab-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .stats-item {
    text-align: center;
    /* background-color: rgba(202, 202, 202, 0.445); */

    margin: 25px 20px;
    padding: 10px 20px;
    width: 20%;
    min-width: 200px;
    font-size: 1.2rem;
  }
  .tab-stats p {
    line-height: 35px;
  }
}
