.stats-box{
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global-stats{
  display: flex;
  flex-direction: column;
}

.tab-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  width: 100%;
}

.stats-item {
  text-align: center; 
  margin: 10px 10px;
  padding: 5px 5px;
  width:   5%;
  min-width: 150px;
  font-size: 1.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.205);
}

.stats-item svg{
    margin-bottom: -2px;
}

/* WYKRES ŁĄdowania w Ratingu */

.stats-item {
  position: relative;
  border-radius: 4px; /* Zaokrąglenie rogów */
  background: linear-gradient(to right, #dbdddf var(--percentage), #ffffff var(--percentage));
  overflow: hidden;
}

.tab-stats-ul{
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  /* height: 400px; */
  overflow-y: auto;

}

.tab-stats-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px  0px;
  border-radius: 4px;
  margin: 10px 5px;
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.205);
}

.tab-stats-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-stats-span{
  display: flex;
  flex-direction: column;
  /* padding: 0px 10px; */
  height: 45px;
  align-content: space-between;
  justify-content: space-between;
  /* width: 100%; */
/* background-color: tomato; */
}






