.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 55px;
}

.fc-globe{
  width: 50px;
  height: 50px;
}



.schedule-table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.473);
  overflow-x: auto;
  
}


.mobile-date{
  display: none;
}

.mobile-schedule {
  margin: 10px 5px;
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 2px;
}

.schedule-table th {
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;

}

.schedule-date {
  display: none;
}

.competition-name {
  text-align: center;
  margin: 0;
}

.schedule-list-btn {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
}

.schedule-list-btn:disabled {
  color: silver;
}

.schedule-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.schedule-btn-span {
  padding: 0 15px;
  padding-bottom: 8px;
}

/* // ZAWODY */
.competition-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.competition-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 60px;
  margin: 0 4px 10px 4px;
  padding: 5px 10px;
  border-radius: 8px;
  border: transparent;
  font-weight: bold;
  width: 203px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.212);
  transition: all 0.3s;
}

.active-schedule {  
  /* border: 1px solid rgb(71, 70, 70); */
  color: var(--brand-color) !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
}

.home-team-crest,
.away-team-crest {
  display: none;
}

.footbal-team-crest {
  display: none;
}

@media (max-width: 575.98px) {
  .app-wrap{
    padding: 5px;
  }

  .schedule-table{
    border-collapse: separate;
    border-spacing: 0px 10px;
    box-shadow: 0px 0px 3px transparent;
    border-radius: 0;
    margin-bottom: 50px;
  }



  .schedule-tr {
    border: 1px solid rgba(0, 0, 0, 0.164);
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.205);
  }



  .schedule-table-tr {
    width: auto;
  
  }

  .schedule-table {
  font-size: 0.8rem;  
  }



  .home-team-crest,
  .away-team-crest,
  .footbal-team-crest {
    display: inline-block;
  }

  .footbal-team-crest{
    margin-top: 10px;
  }

  .how-to-bet-p,
  .how-to-bet,
  .typing-raccoon-bot,
  .panel-header,
  .hr-panel {
    display: none;
  }

  .hr-panel-bot {
    width: 100%;
    height: 2px;
    background-color: rgba(126, 126, 126, 0.185);
  }

  .comp-button-img {
    width: 30px;
    height: 30px;
  }

  .competition-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2px;
    margin: 2px 0;   
    height: 100px;
    flex-wrap: nowrap;  
    overflow-y: auto;
  }

  .competition-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 90px;
    margin: 1px;
    padding: 5px 0px;
    border-radius: 4px;
    font-weight: bold;
    min-width: 112px;
    background-color: white;
    border: 0px solid rgba(0, 0, 0, 0.212);
    transition: all 0.3s;
    cursor: pointer;
  }

  .crest {
    display: none;
  }


  .schedule {
    margin: 0 0px;
  }


  /* MOBILE TABELA: */
  .bet-thead {
    display: none;
  }

  .td-short-name {
    display: none;
  }


 


  .schedule-result {
    width: 50px;
  }

  .schedule-team-crest-home {
    text-align: left;
    width: 40%;

  }

  .schedule-team-crest-away {
    text-align: right;
    width: 40%;
  }

  .home-team-crest,
  .away-team-crest {
    padding: 0 10px;
  }


  .mobile-schedule {
    border: 1px solid rgba(192, 192, 192, 0.452);
    padding: 2px;  
  }

  .schedule-date {
    display: inline-block;
  }
  .mobile-date{
    display: inline-block;
  }

.fc-globe{
  min-width: 30px;
  min-height: 30px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .fc-globe{
    min-width: 30px;
    min-height: 30px;
  }
  

  .mobile-date{
    display: inline-block;
  }

  .schedule-tr {
    border: 1px solid rgba(0, 0, 0, 0.164);

  }

  .schedule-table-tr {
    width: auto;
  }



  .home-team-crest,
  .away-team-crest,
  .footbal-team-crest {
    display: inline-block;
  }



  .how-to-bet-p,
  .how-to-bet,
  .typing-raccoon-bot,
  .panel-header,
  .hr-panel {
    display: none;
  }

  .hr-panel-bot {
    width: 100%;
    height: 2px;
    background-color: rgba(126, 126, 126, 0.185);
  }

  .comp-button-img {
    width: 30px;
    height: 30px;
  }

  .competition-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2px;
    margin: 2px;
    height: 110px;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .competition-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 80px;
    margin: 1px;
    padding: 5px 0px;
    border-radius: 4px;
    font-weight: bold;
    min-width: 112px;
    background-color: white;
    border: 0px solid rgba(0, 0, 0, 0.212);
    transition: all 0.3s;
    cursor: pointer;
  }

  .crest {
    display: none;
  }


  .schedule {
    margin: 0 0px;
  }


  /* MOBILE TABELA: */
  .bet-thead {
    display: none;
  }

  .td-short-name {
    display: none;
  }

  .schedule-table {
    border-radius: 0;
    margin-bottom: 70px;

  }



  .schedule-result {
    width: 50px;
  }

  .schedule-team-crest-home {
    text-align: left;
    width: 40%;
  }

  .schedule-team-crest-away {
    text-align: right;
    width: 40%;
  }

  .home-team-crest,
  .away-team-crest {
    padding: 0 10px;
  }


  .mobile-schedule{
    margin: 10px 5px;
    padding: 10px 0px;
  }

  .schedule-date {
    display: inline-block;
    /* margin:  0 5px; */
  }




}

@media (min-width: 768px) and (max-width: 991.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1670.98px) {
  .schedule {
    margin: 0 0px;
  }
}