.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 55px;
}

.schedule-table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.473);  
  overflow-x: auto;
}

.schedule-table th,
.schedule-table td {
  width: 100px;
}

.schedule-table td {
  margin: 10px 5px;
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 2px;
}

.schedule-table th {
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;
}

.competition-name {
  text-align: center;
  margin: 0;
}

.schedule-list-btn {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
}

.schedule-list-btn:disabled {
  color: silver;
}

.schedule-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.schedule-btn-span {
  padding: 0 15px;
  padding-bottom: 8px;
}

/* // ZAWODY */
.competition-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.competition-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 4px 10px 4px ;
  padding: 5px 10px;
  border-radius: 8px;
  border: transparent;
  font-weight: bold; 
  width: 203px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.212);
  transition: all 0.3s;
}

.active-schedule {
  border: 1px solid rgb(71, 70, 70);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445) ;
}

@media (max-width: 575.98px) {



  .how-to-bet-p, .how-to-bet, .typing-raccoon-bot,  .panel-header, .hr-panel{
    display: none;
  }
  .hr-panel-bot{
    width: 100%;
    height: 2px;
    background-color: rgba(126, 126, 126, 0.185);
  }

  .comp-button-img{
    width: 30px;
    height: 30px;
  }

  .competition-buttons{
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: row;
    margin: 1px;
    height: 100px;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .competition-btn {  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 80px;  
    margin: 1px ;
    padding: 5px 0px;
    border-radius: 4px;  
    font-weight: bold; 
    min-width: 112px;
    background-color: white;
    border: 0px solid rgba(0, 0, 0, 0.212);
    transition: all 0.3s;
    cursor: pointer;
  
  }

  .crest {
    display: none;
  }

  .schedule-table td {
    margin: 10px 5px;
    padding: 8px;
  }

  .schedule {
    margin: 0 0px;
  }


/* MOBILE TABELA: */
.bet-thead{
  display: none;
}

.td-short-name{
  display: none;
}

.schedule-table td {
  margin: 10px 5px;
  border: 0px solid rgba(192, 192, 192, 0.452);
  padding: 2px;
}



















}

@media (min-width: 576px) and (max-width: 767.98px) {
  .crest {
    display: none;
  }
  .schedule-table td {
    margin: 10px 5px;
    padding: 20px 0;
  }
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1670.98px) {
  .schedule {
    margin: 0 0px;
  }
}