.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 55px;
}

.schedule-table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.473);
  ;
  overflow-x: auto;
}

.schedule-table th,
.schedule-table td {
  width: 100px;
}

.schedule-table td {
  margin: 10px 5px;
  border: 1px solid       rgba(192, 192, 192, 0.452);
  background-color: rgba(192, 192, 192, 0.103);
  padding: 2px;
}

.schedule-table th {
  border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;
}

.competition-name {
  text-align: center;
  margin: 0;
}

.schedule-list-btn {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
}

.schedule-list-btn:disabled {
  color: silver;
}

.schedule-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.schedule-btn-span {
  padding: 0 15px;
  padding-bottom: 8px;
}

/* // ZAWODY */
.competition-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.competition-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 10px 10px 10px ;
  padding: 5px 10px;
  border-radius: 8px;
  border: transparent;
  font-weight: bold;
  /* background-color: var(--brand-alt-color); */
  /* color: var(--white-color); 
  */
  width: 203px;
  cursor: pointer;

}

.active-schedule {
  box-shadow: 1px 1px 3px var(--brand-alt-color);
}

@media (max-width: 575.98px) {
  .crest {
    display: none;
  }
  .schedule-table td {
    margin: 10px 5px;
    padding: 8px;
  }

  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .crest {
    display: none;
  }
  .schedule-table td {
    margin: 10px 5px;
    padding: 20px 0;
  }
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .schedule {
    margin: 0 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1670.98px) {
  .schedule {
    margin: 0 0px;
  }
}