.newemail{
    display: flex;
    flex-direction: column;
    width: 310px;
    font-weight: bold;
  
}
.newemail-input{
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.newemail-btn{
    align-self: center;
    margin: 12px;
    padding: 10px 30px;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    color: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--brand-alt-color);
    background: var(--brand-alt-color);
    transition: color 0.3s;
    cursor: pointer;
}

.newemail-btn:disabled {
    color: rgb(128, 127, 127);
    border: rgb(0, 0, 0);
    background: silver;
    transition: color 0.3s;
    cursor: auto;
}

.newemail-label{
    padding: 5px 0;
    font-weight: bold;
    text-align-last: left;
}