.bet-table { 
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.473);
  ;
}

.bet-table td {
  margin: 10px 5px;
  border: 1px solid       rgba(192, 192, 192, 0.452);
  background-color: rgba(192, 192, 192, 0.103);

}
.td-bet{
 width: 400px;
}

.bet-table th { 
   border: 1px solid rgba(192, 192, 192, 0.452);
  padding: 8px;
}

.bet-input {
  width: 90px;
  border: transparent;
  padding: 5px 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.473);
  border-radius: 4px;
  margin: 0 5px; 
  border: 1px solid var(--border-hover, rgba(0, 0, 0, 0.87));
}

.bet-input:disabled { 
  box-shadow: 1px 1px 3px rgba(50, 205, 50, 0.466);
}
.bet-form{
  border: none;
  background: none;
}

.bet-button{
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #2c2d5b;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

.bet-button:disabled{ 
background-color: silver;
cursor: auto;
}


@media (max-width: 575.98px) {
 
  .bet-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .bet-input {
   width: 140px;
    border: transparent;
    padding: 5px 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.473);
    border-radius: 4px;
    margin: 5px 5px; 
    border: 1px solid var(--border-hover, rgba(0, 0, 0, 0.87));
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
 
  .bet-form{
    width: 100%;
    display: flex;
  flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
   .bet-input {
    width: 90px;
    border: transparent;
    padding: 5px 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.473);
    border-radius: 4px;
    margin: 5px 5px; 
    border: 1px solid var(--border-hover, rgba(0, 0, 0, 0.87));
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

@media (min-width: 1200px) and (max-width: 1670.98px) {
  
}