.nav-panel {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 0 10px;
    height: 80px;
    z-index: 5000;
}

.nav-panel-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.panel-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.border {
    width: 1px;
    height: 80px;
    margin: 0 20px;
}

.panel-item {
    padding: 0 10px;
}

.panel-item a:hover {
    color: var(--brand-color)
}

.panel-item a {
    color: black;
}


.showOnMobile {
    display: none;
}




@media (max-width: 575.98px) {

    .nav-panel {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

    }

    .user-menu.closed {
        top: -1520%;
    }

    .panel-menu {
        display: none;
    }


    .showOnMobile {
        display: block;
    }

    .showOnDesktop {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .panel-menu {
        display: none;
    }

    .showOnMobile {
        display: block;
    }

    .showOnDesktop {
        display: none;
    }



}

@media (min-width: 768px) and (max-width: 991.98px) {
    .front-brand-logo {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}