.panel-footer{  
    font-size: 10px;
    text-align: center;
    margin:  0;
    border-radius: 0px;      
 } 

 .footer-panel{
  display: none;
 } 

 .footer-panel-chat{
  background:none;
  border: transparent;
 }

 @media (max-width: 768.98px) {  
  .panel-footer{
    display: none;
  }

  .footer-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.493);
    z-index: 1000;

  }

  .footer-panel-item{
    text-align: center;   
    padding: 5px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
  }


  .footer-panel-li{
    display: flex;
    align-items: center;
    justify-content: center;   
  }
  
  .show-chat{
    height: 84vh;  
    transition: all .5s;
    overflow-x: hidden;    
  }

  .visible {
    position: absolute;
  

    bottom: 60px;    
    left: 0;
    right: 0;

    overflow-y:auto ;      
    background-color: white;  
    z-index: 500;     
    }

  .hidden{  
    position: absolute;
    bottom: 1262px;
    left: 0;
    right: 0;  
    overflow-y:auto ;      
    background-color: white;     
 }

  .hidden-bg{
   background-color: black;      
  }
   

 

   .btn-chat-active{
    color: var(--brand-color) !important;
  }
 }
  
