.hit-box{
    position: relative;
    display: flex;
    flex-direction: column;
}

.hit-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hit-text{
    max-width: 40%;
}

.hit-image{
  max-width: 100%;
  height: auto;
}

.arrow-one,
.arrow-two {
  position: absolute;
  transform: translateY(-50%);
}

.arrow-one {
    width: 300px;
    top: 23%;
    left: 35%;
    transform: rotate(-70deg);     
  }
  
  .arrow-two {
    width: 300px;
    top: 60%;
    left: 40%;
    transform: rotate(35deg);   
  }

  .hit-span-number{
    display: inline-block;
    width: 50px; 
    height: 50px; 
    text-align: center;
    background-color: var(--brand-alt-color);
    border-radius: 50%;
    color: var(--white-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
    margin-right: 20px;
}

.hit-image-mid-bot{
  display: none;
}
  




/* Styl dla większych ekranów */

@media (max-width: 575.98px) { 

.hit-item{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.hit-text{
 text-align: center;
    max-width: 100%;
}

.arrow-one, .arrow-two{
  display: none;
}

.hit-span-number{
    display: inline-block;
    width: 35px; 
    height: 35px; 
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--brand-alt-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
}
  
 .hit-image{
    width: 50%;
    height: auto;
  }

 .hit-image-mid{
  display: none;
 }
 .hit-image-mid-bot{
  display: block;
 }



}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hit-item{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.hit-text{
 text-align: center;
    max-width: 100%;
}

.arrow-one, .arrow-two{
  display: none;
}

.hit-span-number{
    display: inline-block;
    width: 40px; 
    height: 40px; 
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--brand-alt-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
}
  
 .hit-image{
    width: 40%;
    height: auto;
  }

 .hit-image-mid{
  display: none;
 }
 .hit-image-mid-bot{
  display: block;
 }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hit-item{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.hit-text{
 text-align: center;
    max-width: 100%;
}

.arrow-one, .arrow-two{
  display: none;
}

.hit-span-number{
    display: inline-block;
    width: 45px; 
    height: 45px; 
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--brand-alt-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
}
  
 .hit-image{
    width: 40%;
    height: auto;
  }

 .hit-image-mid{
  display: none;
 }
 .hit-image-mid-bot{
  display: block;
 }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
 
.arrow-one, .arrow-two{
  display: none;
}  
 

 .hit-image-mid{
  display: block;
 }
 .hit-image-mid-bot{
  display: none;
 }
}